#noscript-content {
  padding: 0 15vw;
}

.hr-line {
  background-color: #636465;
}

#main-page-link:hover {
  color:  white;
}

@media (max-width: 800px) {
  #noscript-content {
    padding: 0 10vw;
  }
}

@media (max-width: 560px) {
  #noscript-content {
    padding: 0 20px;
  }
}

@media (max-width: 430px) {
  .browser-block {
    width: 40px;
  }

  .browser-block p {
    display: none;
  }
}