.main-content-friends {
   height: 100%;
   padding: 2vh;
}

#block-friend,
#block-online,
#block-subscriber,
#block-received,
#block-submitted {
   width: 100%;
   list-style: none;
}

.friends-count-info,
.friend-card {
   padding: 10px;
   border: 1px solid var(--content-block-border-color);
   background: var(--content-block-bg-color);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}

#friend-search-card {
   padding-left: 15px;
   padding-right: 15px;
}

.block-social {
   margin: 10px 0 0 0;
}

/* Friends sort  */

.friends-sort-list-item,
.friendships-list-item {
   line-height: 15px;
   min-height: 15px;
   height: 15px;
}

.friends-sort-list-item:hover {
  background: var(--block-hover-bg-color);
}

.friends-sort-list-item.first-item:hover th {
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}

.friends-sort-list-item.last-item:hover th {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.friends-sort-list-item.last-item.collapsed:hover th {
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}

.friends-sort-list-item:hover th,
.friendships-list-item:hover th {
  color: var(--hover-text-color);
}

#friends-count {
  color: var(--main-text-color);
  float: right;
  padding: 0;
  font-weight: initial;
}

#show-all-requests {
   cursor: pointer;
}

.fa.fa-angle-down {
   font-size: 14px;
}

.friendships-list-item th {
   font-weight: initial;
}

/* Table User Friends  */

.table-user-friends {
  color: var(--main-text-color);
  margin: 0;
}

.table-user-friends tbody tr th {
  width: 0;
  text-align: center;
  padding: 5px 10px;
  vertical-align: middle;
}

.table-user-friends tbody tr td {
  text-align: left;
  padding: 5px 10px;
  vertical-align: middle;
}

/* New friends suggestions*/
.suggestions-top-block,
.friends-sort-block {
   margin-top: 15px;
}

/* Friends achievements */

.friend-achievement-card {
  padding: 5px;
  padding-bottom: 0;
  width: 20%;
}

.friend-achievement-card-image {
  position: relative;
  width: 80%;
  height: 0;
  padding-top: 80%;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.friend-achievement-card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.friend-achievement-card p a:hover {
   font-weight: bold;
   color: var(--hover-text-color);
}

/* Potential friends */

.potential-card-avatar img {
   width: 40px !important;
   height: 40px !important;
   cursor: pointer;
}

.friends-user-fullname:hover p {
   color: var(--hover-text-color) !important;
}

.mutual-friends-modal-link:hover {
   color: var(--hover-text-color) !important;
   cursor: pointer;
   text-decoration: underline !important;
}