/* Menu */

[data-href] {
  cursor: pointer;
}

.navbar-container {
  height: 0;
  visibility: hidden;
}

.main-menu a:hover p {
  color: var(--hover-text-color);
}

/* Mobile menu  */

.navbar-menu .nav-menu-container li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu .nav-menu-container a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.navbar-menu .nav-menu-container a:hover{
  font-weight: bolder;
}

.nav-menu-container .checkbox-menu {
  position: absolute;
  display: block;
  height: 23px;
  width: 23px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-menu-container .hamburger-lines {
  height: 23px;
  width: 23px;
  position: absolute;
  z-index: 2;
}

.nav-menu-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid white;
}

.mobile-menu-avatar-block {
  position: relative;
  width: 90%;
  height: 0;
  padding-top: 90%;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  z-index: 1;
}

.mobile-menu-items {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 200px;
  height: 95vh;
  border-right: 1px solid var(--content-block-border-color);
  background: var(--mobile-menu-bg-color);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}