.main-content-news {
   height: 100%;
   padding: 2vh;
}

#block-user {
   width: 100%;
}

/* Feed */

.feed-news-card {
   background: var(--content-block-bg-color);
   border: 1px solid var(--content-block-border-color);
   -webkit-border-radius: 15px !important;
   -moz-border-radius: 15px !important;
   border-radius: 15px !important;
   backdrop-filter: blur(10px);
}

.feed-news-card img {
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
}

.feed-news-card-info img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 90% !important;
  -moz-border-radius: 90% !important;
  border-radius: 90% !important;
}

.feed-news-tags-list {
  bottom: 18px;
  left: 18px; 
  width: calc(100% - 36px); 
  background-color: rgba(0, 0, 0, .8);
}

/* Popular */

.popular-picture-card,
.news-popular-top-p {
   cursor: pointer;
}

.popular-picture-card {
   z-index: 1;
}

.news-popular-top-p:hover {
   color: var(--hover-text-color);
}

.popular-picture-card:hover img {
   box-shadow: 0 0 0 1px #7e8081;
}

.popular-picture-card:hover .gold-gradient-border img {
   box-shadow: none;
}

.popular-picture-card:has(.gold-gradient-border) img {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.grid-with-one-large-item {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(6, 1fr);
   grid-template-areas: "a a b c d f"
                        "a a g h j k";
}

.grid-with-no-large-item {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: repeat(6, 1fr);
   grid-template-areas: "a b c d f g";
}

.grid-with-one-large-item .grid-item,
.grid-with-no-large-item .grid-item {
   width: calc(100% - 0.5rem);
}

.grid-with-one-large-item .grid-item:nth-child(1) {
   grid-area: a;
}

.popular-card-badge {
   bottom: 5px;
   left: 5px;
   padding: 2px 7px !important;
   color: whitesmoke;
   background: rgba(0, 0, 0, .7);
   -webkit-border-radius: 5px 5px 5px 10px;
   -moz-border-radius: 5px 5px 5px 10px;
   border-radius: 5px 5px 5px 10px;
}

.gold-gradient-border .popular-card-badge {
  -webkit-border-radius: 5px 5px 5px 15px;
  -moz-border-radius: 5px 5px 5px 15px;
  border-radius: 5px 5px 5px 15px;
}

.gold-gradient-border .popular-card-badge {
  bottom: 0;
  left: 0;
}

.popular-card-badge svg {
   fill: whitesmoke;
   width: 18px;
   height: 18px;
}

.popular-card-badge p {
   color: whitesmoke;
}

.popular-card-text-color-first p {
   color: #FFD700 !important;
   font-size: 18px !important;
}

.popular-card-text-color-first svg {
   fill: #FFD700;
   width: 24px;
   height: 24px;
}

.popular-card-text-color-second p {
   color: #C0C0C0 !important;
   font-size: 15px !important;
}

.popular-card-text-color-second svg {
   fill: #C0C0C0;
   width: 20px;
   height: 20px;
}

.popular-card-text-color-third p {
   color: #CD7F32 !important;
   font-size: 15px !important;
}

.popular-card-text-color-third svg {
   fill: #CD7F32 !important;
   width: 20px;
   height: 20px;
}

.gold-gradient-border {
  --border-width: 4px;
  position: relative;
  margin: 0.24rem!important;
  background: #222;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.gold-gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #FFFFE5, gold, yellow, #FFD700, #ff7b00, #FFAE33);
  background-size: 300% 300%;
  background-position: 0 50%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  animation: moveGradient 4s alternate infinite;
}

#more-popular-photos-sorted-by-rating .grid-with-no-large-item,
#more-popular-photos-sorted-by-number-of-comments .grid-with-no-large-item,
#more-popular-photos-sorted-by-number-of-saves .grid-with-no-large-item  {
   animation: show 1.5s;
}

/* News sort */

.news-sort-list-item {
   line-height: 15px;
   min-height: 15px;
   height: 15px;
}

.news-sort-list-item th:hover {
  background: var(--block-hover-bg-color);
}

.news-sort-list-item.first-item th:hover {
   -webkit-border-radius: 15px 15px 0 0;
   -moz-border-radius: 15px 15px 0 0;
   border-radius: 15px 15px 0 0;
}

.news-sort-list-item.last-item th:hover {
   -webkit-border-radius: 0 0 15px 15px;
   -moz-border-radius: 0 0 15px 15px;
   border-radius: 0 0 15px 15px;
}

.news-sort-list-item:hover th {
  color: var(--hover-text-color);
}

.news-count-info {
   padding: 10px;
   border: 1px solid var(--content-block-border-color);
   background: #1a1a1a;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.top-ten-card-avatar img {
   width: 40px !important;
   height: 40px !important;
   cursor: pointer;
}

.first-text,
.first-text:hover {
   color: var(--first-place-color);
}

.second-text,
.second-text:hover {
   color: var(--second-place-color);
}

.third-text,
.third-text:hover {
   color: var(--third-place-color);
}

.top-ten-num {
   width: 40px !important;
}

#view-all-top-ten-users {
   cursor: pointer;
}

#view-all-top-ten-users:hover {
   color: var(--hover-text-color);
   -webkit-border-radius: 0 0 15px 15px;
   -moz-border-radius: 0 0 15px 15px;
   border-radius: 0 0 15px 15px;
   background: var(--block-hover-bg-color);
}

/* New users slider */

.new-users-slider {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 18%;
   gap: 1rem;
   overflow-x: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
   cursor: grab;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}

.new-users-slider::-webkit-scrollbar {
  display: none;
}

.slider-element {
  margin: 10px 0 10px 0 !important;
}

@media (max-width: 440px) 
{
  .new-users-slider 
  {
    grid-auto-columns: 27%;
  }
}

.new-users-prev-btn,
.new-users-next-btn {
   position: absolute;
   top: 40%;
   height: 30px;
   width: 30px;
   border: none;
   -webkit-border-radius: 90%;
   -moz-border-radius: 90%;
   border-radius: 90%;
   background: rgba(0, 0, 0, .5);
}

.new-users-prev-btn.disable,
.new-users-next-btn.disable {
   opacity: 0;
}

.new-users-prev-btn:hover, .new-users-prev-btn:focus,
.new-users-next-btn:hover, .new-users-next-btn:focus {
   outline: 0;
   background: rgba(0, 0, 0, .7);
}

.new-users-prev-btn{
   left: 0%;
}

.new-users-next-btn{
   right: 0%;
}