.main-content-photo {
   height: 100%;
   padding: 2vh;
}

.block-photo {
  padding-right: 2% !important;
}

/* Photos sort */

.saves-sort-list-item {
   line-height: 15px;
   min-height: 15px;
   height: 15px;
}

.saves-sort-list-item:hover {
  background: var(--block-hover-bg-color);
  cursor: pointer;
}

.saves-sort-list-item:hover th {
  color: var(--hover-text-color);
}

.saves-sort-list-item.first-item:hover th {
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}

.saves-sort-list-item.last-item:hover th {
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}

.saves-sort-list-item.once-item:hover th {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* Profile picture cards list */

.user-photo-card {
  padding: 5px;
  width: 20%;
}

.user-photo-card-content {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.user-photo-card-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.user-photo-card-content img:hover {
  box-shadow: 0 0 0 1px #7e8081;
}

/* Upload new photo */

#block-upload-user-photo img {
   width: 100%;
   padding: 15px;
   border: 2px dashed #8b8c8d;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}

.img-container img {
   max-width: 100%;
}

#save-uploaded-photo {
   display: none;
}

#input-new-user-photo {
   opacity: 0;
   bottom: 2.7rem;
   cursor: pointer;
   position: absolute;
}

/* Tags */

.tags-block-content .input-field {
  padding: 10px 15px !important;
  border: 1px solid #636465 !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.tags-block-content ul li {
  color: var(--main-text-color);
  margin: 2px;
  padding: 5px;
  list-style: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #7e8081;
}

.tags-block-content ul li svg {
  height: 18px;
  width: 18px;
  font-size: 12px;
  color: var(--main-text-color);
  margin-left: 7px;
  border: 1px solid #7e8081;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.tags-block-details .btn-delete-tags{
  color: var(--main-text-color);
  cursor: pointer;
  border-bottom: 1px dashed var(--main-text-color);
}

.tags-block-details .btn-delete-tags:hover{
  color: var(--hover-text-color);
  border-bottom: 1px solid transparent;
}

.tags-field.is-valid,
.tags-field svg.is-valid {
  border-color: #28a745 !important;
}

/* Adaptive  */

@media (max-width: 450px) {
  .user-photo-card {
    width: 33.3% !important;
  }
}

@media (min-width: 451px) and (max-width: 575px) {
  .user-photo-card {
    width: 25% !important;
  }
}