/* SVG */

.svg-main-menu-icon {
  fill: var(--main-menu-icon-color);
}

.svg-search-main-menu-icon circle,
.svg-search-main-menu-icon path,
.svg-rate-main-menu-icon path {
  stroke: var(--main-menu-icon-color);
}

.main-menu a:hover .svg-main-menu-icon {
  fill: var(--main-menu-icon-hover-color);
}

.main-menu a:hover .svg-search-main-menu-icon circle,
.main-menu a:hover .svg-search-main-menu-icon path,
.main-menu a:hover .svg-rate-main-menu-icon path {
  stroke: var(--main-menu-icon-hover-color);
}

.svg-close-icon {
  fill: var(--main-text-color);
}

.svg-close-icon:hover {
  fill: var(--hover-text-color);
}

.svg-more-rating-statistics-icon,
.svg-more-history-icon,
.svg-hide-history-icon,
.svg-edit-user-nickname-icon,
.svg-show-main-statistic {
  cursor: pointer;
}

.svg-hide-history-icon {
  left: 0;
}

.svg-more-rating-statistics-icon,
.svg-more-history-icon {
  right: 0;
}

#user-profile-add-photo-icon:hover {
  fill: var(--hover-text-color);
}

#user-profile-more-menu-icon:hover path,
#user-profile-more-menu-icon:hover circle  {
  fill: var(--hover-text-color);
}

.active-star {
  stroke: var(--star-icon-color);
}

.inactive-star {
  stroke: gray;
}

p .svg-social-icons {
  margin: 2px 7px;
}

.svg-social-icons {
  padding: 5px;
}

.svg-social-icons .fill-path,
.svg-social-icons.fill-path {
  fill: var(--main-text-color);
}

.svg-social-icons.svg-empty-social-icons .fill-path,
.svg-social-icons.svg-empty-social-icons.fill-path {
  fill: gray;
}